
{% extends 'base.html' %}
{% block body %}

            <div class="shadow card">
                <div class="card-body">
                    <h4 class="card-title">{{task.name}}</h4>
                     <p><B>{{task.priority}}</B></p>
                     <p><B>{{task.date}}</B></p>
                     <a class="btn btn-danger" href="{% url 'delete' task.id %}">done</a>
                    <a class="btn btn-danger" href="{% url 'update' task.id %}">update</a>
                </div>
            </div>
{% endblock %}